.search-widget {
  .form-control {
    background-color: #41506f;
    border-radius: 0;
    padding: 34px;  
    color: #fff;
  }
  .btn {
    background-color: #41506e;
    border-color: #cdd4e0;
    border-radius: 0;
    padding: 16px 30px;
    
  }
}
