<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-5">
            <div class="form-group">
                <input type="text" class="form-control form-control-lg border-0" required minlength="1" [(ngModel)]="characterInput" #chInput="ngModel" placeholder="Type number, ex: 1" (keyup)="inputValidator($event)" >
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary mb-2" (click)="lookForCharacter()" [disabled]="!characterInput">Find More!</button>
            </div>
        </div>
    </div>
   
    <character-component *ngIf="loadedCharacter | async; else loading"  [character]="loadedCharacter | async" (clearCharacter)="destroyCharacter($event)"></character-component>
   
    <ng-template #loading>
    <div class="row justify-content-md-center align-items-center"  *ngIf="showLoader" >
        <div class="col-md-2 mt-5">
            <mat-spinner></mat-spinner>
        </div>
    </div>
    </ng-template>
    <div class="row mt-5" *ngIf="landed">
      <div class="col-sm-4 fade-in-bottom" *ngFor="let character of charactersArray; let i = index" [ngClass]="'fade-in-bottom-'+(i+1)">
          <div class="box mb-2">
            <div class="content">
                <img src="../../../assets/{{character.name | loadCharacterPicture }}">
            </div>
            <div class="title">{{character.name}}</div>
          </div>
      </div>
    </div>
  </div>
