<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <input type="text" class="form-control form-control-lg" required minlength="1" [(ngModel)]="characterInput" #chInput="ngModel" >
                <!--<div *ngIf="chInput.invalid && (chInput.dirty || chInput.touched)" class="alert">
                    <div *ngIf="chInput.errors?.required">
                        Name is required.
                    </div>
                    <div *ngIf="chInput.errors?.minlength">
                        Name must be at least 4 characters long.
                    </div>
                    <div *ngIf="chInput.errors?.forbiddenName">
                        Name cannot be Bob.
                    </div>
                </div>-->
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary mb-2" (click)="lookForCharacter()">Find More!</button>
            </div>
        </div>
    </div>
    <mat-spinner *ngIf="showLoader"></mat-spinner>
    <div class="row mt-5">
      <div class="col-sm-4 fade-in-bottom" *ngFor="let character of charactersArray; let i = index" [ngClass]="'fade-in-bottom-'+(i+1)">
        <img src="https://via.placeholder.com/300/FFFF00/000000?Text=WebsiteBuilders.com">
      </div>
    </div>
  </div>
